:host .input-container input {
  outline: none !important;
  box-sizing:border-box;
  width: 100%;
  font-size: 0.8rem;
  border: 1px solid grey;
  padding: 0.5rem;
}

:host .input-error label {
  color: red;
}

:host .input-error input {
  border-color: red;
}

:host .input-container .validation-error {
  font-size: 0.8rem;
  color: red;
}
