$color-red: red;
$color-green: green;
$font-family: sans-serif;

$font-size: 16px;
$font-size-sm: 12px;

$base: 5px;


:host {
  .input-container {
    font-family: $font-family;
    input {
      outline: none !important;
      box-sizing:border-box;
      width: 100%;
      padding: $base * 2;
      margin: 0;
      color: #8a8b8e;
      border: 1px solid #c2c0ca;
      font-style: normal;
      font-size: $font-size;
      appearance: none;
      position: relative;
      display: inline-block;
      background: none;
    }

    .validation-error {
      font-size: $font-size-sm;
      color: $color-red;
    }

    label {
      font-size: $font-size;
    }
  }
  .input-error {
    label {
      color: $color-red;
    }
    input {
      border-color: $color-red;
    }
  }
}

.large{
  padding: $base * 3!important;
}

.small{
  padding: $base!important;
}

.border-green {
  border-color: $color-green!important;
}



